:root {
    --ff-primary: "DM Sans", sans-serif;
    
    --fw-regular: 400;
    --fw-bold: 500;

    --fs-200: 1.125rem;
    --fs-300: 2rem;
    --fs-400: 2.5rem;
    --fs-500: 3.875rem;

    --spacer-1: 0.5rem;
    --spacer-2: 1rem;
    --spacer-3: 1.5rem;
    --spacer-4: 2rem;
    --spacer-5: 2.5rem;
      
    --clr-primary-100-transparent: hsl(254, 88%, 90%, 0.4);
    --clr-primary-100: hsl(254, 88%, 90%);
    --clr-primary-500: hsl(256, 67%, 59%);

    --clr-accent-100:  hsl(31, 66%, 93%);
    --clr-accent-500: hsl(39, 100%, 71%);

       --clr-accent-500-deep: hsl(39, 100%, 68%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-500:  hsl(0, 0%, 7%); 
}


/* Reset */

*,
*::before,
*::after {
    box-sizing:border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
  text-wrap: balance;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}



body {
    font-family: var(--ff-primary);
    font-size: var(--fs-200);
    font-weight: var(--fw-regular);
    padding: var(--spacer-4) var(--spacer-2);
    background-color: var(--clr-primary-100-transparent);
}

/* Utility Classes */
.flow-content > * + * {
    margin-top: var(--spacer, var(--spacer-2));
}

.bg-dark{
    background-color: var(--bg, var(--clr-primary-500)); 
    color: var(--fg, var(--clr-neutral-100));
}

.bg-white {
   background-color: var(--clr-neutral-100);
   color: var(--clr-neutral-500);
}


/* typography/general styling*/ 
.container {
    display: grid;
    gap: var(--spacer-4);
    max-inline-size: 75rem;
    margin-inline: auto;
    grid-template-areas: 
    "one"
    "two"
    "three"
    "four"
    "five"
    "six"
    "seven"
    "eight";
}

@media(min-width: 40rem) {
    .container {
        grid-template-areas: 
        "seven one one four" 
        "seven two three four"
        "eight two three four"
        "eight six five five"
    }
}

.five-stars {
    padding: var(--spacer-4);
    text-align: center;
    border-radius: 0.5rem;
    grid-area: one;
}

.five-stars h2 {
    font-size: var(--fs-300);
    font-weight: var(--fw-bold)
}

.five-stars h2 span {
    color: var(--clr-accent-500-deep);
}

.five-stars p {
    font-size: 1rem;
    margin-top: 0.2rem;
    color: var(--clr-primary-100);
}

.five-stars img {
   max-width: 70%;
   margin: 0 auto;
}

@media(min-width: 40rem) {
    .five-stars h2 {
        font-size: var(--fs-500);
    }

    .five-stars img {
        max-width: 40%;
    }

    .five-stars p {
        font-size: 1.2rem;
    }
}

.multiple-platforms {
    padding: var(--spacer-2);
    border-radius: var(--spacer-1);
    grid-area: two;
    overflow: clip;
}


.multiple-platforms h2 {
    --spacer: var(--spacer-1);
    font-size: var(--fs-200);
    font-weight: var(--fw-regular);
}

.multiple-platforms img {
    filter: drop-shadow(0 0 1rem hsl(0 0% 0% / 0.125));
    border-radius: 100vw;
}

@media(min-width: 40rem) {
    .multiple-platforms h2 {
        font-size: var(--fs-300);
        max-width: 80%;
        --spacer: 2rem;
    }

    .multiple-platforms img {
        max-width: 140%;
    }
}

.consistent-schedule {
    --bg: var(--clr-accent-500-deep);
    --fg: var(--clr-neutral-500);
    border-radius: var(--spacer-1);
    padding: var(--spacer-2);
    padding-bottom: 0;
    overflow: clip;
    grid-area: three;
}

.consistent-schedule h2 {
    font-size: var(--fs-200);
    font-weight: var(--fw-regular);
}

.consistent-schedule img {
    max-width: 65%;
    position: relative;
    bottom: -1rem;
}

@media(min-width: 40rem) {
    .consistent-schedule h2 {
        font-size: var(--fs-300);
    }

    .consistent-schedule img {
        max-width: 100%;
        bottom: -5rem;
    }
}

.schedule-posts {
    --bg: var(--clr-primary-100);
    --fg: var(--clr-neutral-500);
    padding: var(--spacer-2);
    font-size: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    grid-area: four;
    display: grid;
}

.schedule-posts h2 {
    font-weight: var(--fw-regular);
    font-size: 1rem;
    margin-top: var(--spacer-1);
}

.schedule-posts img {
    margin: 1rem auto;
}

.schedule-posts p {
    font-size: 1rem;
    line-height: 1.2;
}

@media(min-width: 40rem) {
      .schedule-posts {
        text-align: left;
        align-items: center;
        overflow: clip;
      }

      .schedule-posts h2 {
        font-size: var(--fs-300);
      }

      .schedule-posts img {
        max-width: 170%;
      }

      .schedule-posts p {
        max-width: 80%;
        margin: 0 start;
      }
}

.grow-followers {
    --spacer: var(--spacer-3);
    border-radius: 0.5rem;
    padding: var(--spacer-2);
    text-align: center;
    grid-area: five;
    display: grid;
}

.grow-followers img {
    max-width: 75%;
    margin: 0 auto;
}

.grow-followers h2 {
    font-size: var(--fs-200);
}

 @media(min-width: 40rem) {
     .grow-followers {
       grid-template-columns: 1fr 1fr;
       text-align: start;
       align-items: center;
    }

    .grow-followers img {
        max-width: 100%;
    }

    .grow-followers h2 {
    font-size: var(--fs-300);
     }
 }




.audience-growth {
    border-radius: 0.5rem;
    padding: var(--spacer-2);
    grid-area: six;
}

.audience-growth h2 {
    font-size: var(--fs-300);
    font-weight: var(--fw-regular);
}

.audience-growth p {
    font-size: 0.8rem;
}

.audience-growth img {
    max-width: 55%;
}

@media(min-width: 40rem) {
    .audience-growth h2 {
        font-size: var(--fs-500);
    }
    .audience-growth img {
        max-width: 80%;
    }
}

.schedule-content {
    --fg: --clr-neutral-500;
    --bg:  hsl(39, 100%, 71%, 0.2);
    padding: var(--spacer-4);
    text-align: left;
    grid-area: seven;
    display: grid;
}

.schedule-content h2 {
    font-size: 1.3rem;
    font-weight: var(--fw-regular);
}

.schedule-content h2 span {
    color: var(--clr-primary-500);
}

.schedule-content img{
    max-width: 70%;
}

@media(min-width:40rem) {
    .schedule-content {
        align-items: center;
    }

    .schedule-content img {
        max-width: 100%;
    }

    .schedule-content h2 {
        font-size: var(--fs-400);
    }
}

.ai-content {
    border-radius: 0.5rem;
    --bg: var(--clr-accent-500);
    --fg: var(--clr-neutral-500);
    padding: var(--spacer-2);
    grid-area: eight;
    display: grid;
}

.ai-content img {
    max-width: 70%;
}


.ai-content h2 {
    font-weight: var(--fw-regular);
}

@media(min-width: 40rem) {
    .ai-content {
        align-items: center;
    }

    .ai-content img {
        max-width: 100%;
    }

    .ai-content h2 {
        font-size: var(--fs-300);
    }
}


